<section class="section">
    <div class="container">
        <div class="content has-text-centered">
            <h1 class="title is-4">Projet Angular Table de multiplication / Yannick MIDEY / Novembre 2021</h1>
        </div>
        <div class="columns is-centered">
            <div class="column is-half">
                <form [formGroup]="tableForm" (ngSubmit)="multiplication()">
                    <div ng-controller="mainCtrl">
                        <p>Nombre à multiplier : <input class="input is-primary" type="number" class="button"
                                formControlName="nombre">
                            <button class="button is-link is-hovered">Multiplier</button>
                        </p>
                    </div>
                </form>
                <div *ngIf="isSubmitted1">
                    <app-table-multiplication [nombre]="nombre"></app-table-multiplication>
                </div>
                <br>
                <form [formGroup]="tableForm" (ngSubmit)="tablesMultiplication()">
                    <p>Nombre de table à afficher :
                        <input type="number" class="button" formControlName="nombreTables">
                        <button class="button is-link is-hovered">Afficher</button>
                    </p>
                </form>
                <div *ngIf="isSubmitted2">
                    <app-tables-multiplication [nombreTables]="nombreTables"></app-tables-multiplication>
                </div>

            </div>
        </div>
    </div>
</section>